//Global Styles
html {
    font-size: 100%; // Let's user have control of size, by zooming
    box-sizing: border-box; //border-box, element can have unaffected padding
}

*,
*::before,
*::after {
    box-sizing: inherit //inherits from html element
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3; //Adds spacing to text
    margin: 0;
    padding: 0;
}