@import "globals";
@import "core";

$primary-one: hsl(26, 100%, 55%);
$primary-two: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-gray-blue: hsl(219, 9%, 45%);
$gray-blue: hsl(220, 14%, 75%);
$light-gray-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

nav {
    .nav__slider {
        width: 100%;
    }

    .nav__slider__items {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        text-align: center;
        & li {
            width: 20%;
        }
    }
}

.hero {
    display: inline;
    img {
        width: 100%;
        max-width: 500px;
        max-height: 25rem;
        object-fit: cover;
    }
}

main {
    padding: 0 2rem;
    .product {
        &__company {
            color: $primary-one;
        }
        &__description {
            color: $dark-gray-blue;
        }
    }
    .price {
        display: flex;
        align-items: center;
        &__discount {
        }
        &__percent {
            margin: 0 1rem;
            padding: 0.25rem 0.5rem;
            background-color: $primary-two;
            border-radius: 0.5rem;
            color: $primary-one
        }
    }
    .retail {

    }

    .counter {
        display: flex;
        justify-content: space-between;
        background-color: $light-gray-blue;
        padding: 1rem;
        border-radius: 1rem;
        align-items: center;
        & button {
            border: none;
            background: transparent;
            color: $primary-one;
            font-size: 2rem;
        }
        &__digit h3 {
            margin: 0;
            padding: 0;
        }
    }

    .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-one;
        border-radius: 1rem;
        margin: 1rem 0 3rem;
        img {
            filter: brightness(0) invert(1);
            margin: 1rem;
        }
        h3 {
            color: $white;
        }
    }
}